.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col12 {
  width: 100%;
  position: relative;
}

.main-wrapper {
  background: url('./bg.png');
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;

  .calc-input {
    input {
      font-size: 1.4rem;
      height: 30px;
      padding: 4px 8px;
      margin-bottom: 20px;
      width: 220px;
    }

    .input-float {
      position: absolute;
      top: 2px;
      right: 10px;
      width: 9%;
    }
  }

  .action {
    button {
      font-size: 1.5rem;
      margin: 0 6px;
      width: 50px;
      height: 42px;
      border-radius: 15px;
      background: white;
      outline: none;
    }
  }

  .result {
    width: 240px;
    display: flex;
    margin: 31px auto;
    border-top: 1px solid;
    padding-bottom: 20px;
    padding-top: 20px;

    span {
      font-size: 1.6rem;
      text-align: left;
      width: 100%;

      &:last-child {
        text-align: right;
      }
    }
  }
}